@tailwind base;
@tailwind components;
@tailwind utilities;

thead {
  text-align: left;
}

@layer components {
  h2 {
    @apply text-2xl mb-2 dark:text-slate-50
  }

  table {
    @apply table-auto rounded-lg w-full;
  }

  tbody {
    @apply text-slate-900 dark:text-slate-100;
  }

  thead {
    @apply dark:text-slate-50 dark:border-slate-700 bg-violet-600 text-slate-50;
  }

  tr {
    @apply border-b last:border-0 hover:bg-slate-100 dark:hover:bg-slate-700 dark:border-slate-700;
  }

  thead tr {
    @apply border-0 hover:bg-violet-700 dark:hover:bg-violet-500
  }

  th:first-of-type {
    @apply rounded-s-md
  }

  th:last-of-type {
    @apply rounded-e-md
  }

  th, td {
    @apply px-4 py-1;
  }

  a {
    @apply text-violet-600 dark:text-violet-400 underline decoration-violet-600 dark:decoration-violet-400;
  }

  a:visited {
    @apply text-slate-700 underline dark:text-slate-300
  }

  .table-card {
    @apply bg-white rounded-lg p-4 shadow-2xl overflow-y-auto dark:bg-slate-800;
  }
}